@charset "UTF-8";
/* ------------------------------------------------------ */
/* Načtení fontů                                          */
/* ------------------------------------------------------ */
@font-face {
  font-family: "Volkszeitung 21";
  src: url("fonts/Volkszeitung 21.ttf") format("truetype");
}
.font-volkszeitung-21 {
  font-family: "Volkszeitung 21";
  font-size: 125%;
}

@font-face {
  font-family: "Prager Headlines";
  src: url("fonts/Prager Headlines.ttf") format("truetype");
}
.font-prager-headlines {
  font-family: "Prager Headlines";
  font-size: 125%;
}

@font-face {
  font-family: "Fraktur";
  src: url("fonts/FR_KMS_01cs.ttf") format("truetype");
}
.font-fraktur {
  font-family: "Fraktur";
}

@font-face {
  font-family: "Cardo Regular";
  src: url("fonts/Cardo-Regular.ttf") format("truetype");
}
.font-cardo-regular {
  font-family: "Cardo Regular";
  font-size: 125%;
}

@font-face {
  font-family: "Cardo Bold";
  src: url("fonts/Cardo-Bold.ttf") format("truetype");
}
.font-cardo-bold,
.font-cardo-regular b {
  font-family: "Cardo Bold";
  font-size: 125%;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
}
.font-roboto-bold {
  font-family: "Roboto Bold";
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
.font-roboto-regular,
.font-cardo-regular b {
  font-family: "Roboto Bold";
}

/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Aladin&family=Amatic+SC:wght@700&family=Aref+Ruqaa+Ink&family=Bangers&family=Berkshire+Swash&family=BioRhyme&family=Bubblegum+Sans&family=Bungee+Inline&family=Calistoga&family=Courgette&family=Eagle+Lake&family=Fondamento&family=Grenze+Gotisch&family=Jockey+One&family=Kreon&family=Lilita+One&family=Lobster&family=Norican&family=Oleo+Script&family=Oleo+Script+Swash+Caps&family=Pacifico&family=Pirata+One&family=Playfair+Display+SC&family=Pridi&family=Rammetto+One&family=Rubik+Burned&family=Rubik+Dirt&family=Rubik+Distressed&family=Rubik+Marker+Hatch&family=Rubik+Moonrocks&family=Rye&family=Sedgwick+Ave+Display&family=Shrikhand&family=Spectral+SC&family=Suez+One&family=Tiro+Devanagari+Hindi&display=swap'); */
/* ------------------------------------------------------ */
/* Přepsání stylů z "global" šablony                      */
/* ------------------------------------------------------ */
h3 {
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: none;
}

/* ------------------------------------------------------ */
/* Drobnější elementy                                     */
/* ------------------------------------------------------ */
span.ball-inverse {
  background: #337ab7;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-weight: bold;
  height: 1.4em;
  line-height: 1.4em;
  text-align: center;
  width: 1.4em;
}

/* ------------------------------------------------------ */
/* Článek                                                 */
/* ------------------------------------------------------ */
#canvas-wrapper {
  padding: 5px;
}

#canvas {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  padding: 10px;
  position: relative;
  width: 640px;
}
#canvas #header #headline {
  display: block;
  font-size: 25px;
  position: relative;
  z-index: 10;
}
#canvas #header #subheadline {
  display: block;
  line-height: 1em;
}
#canvas #header #subheadline.hands::before {
  color: #666;
  content: "\f0a4";
  float: left;
  font-family: "Font Awesome 5 Free";
  margin-left: 0;
  margin-right: 0.5em;
}
#canvas #header #subheadline.hands::after {
  color: #666;
  content: "\f0a5";
  float: right;
  font-family: "Font Awesome 5 Free";
  margin-left: 0.5em;
  margin-right: 0;
}
#canvas #header #subheadline.inverse {
  background: #666;
  color: white;
  font-weight: bold;
  padding: 0.25em 0.5em;
  width: calc(100% - 1em);
}
#canvas #header #subheadline.inverse.hands::before {
  color: white;
}
#canvas #header #subheadline.inverse.hands::after {
  color: white;
}
#canvas #article.thin {
  padding: 0 0.5em;
}
#canvas #canvas-title {
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 0.25em 0;
  order: 1;
  padding: 0;
  text-shadow: none;
}
#canvas .datetime {
  color: darkgray;
  margin: 0 0 0.25em 0;
  order: 2;
}
#canvas .perex {
  font-size: 120%;
  font-weight: bold;
  margin: 0 0 0.75em 0;
  order: 3;
  text-align: justify;
}
#canvas .perex p {
  margin: 0;
}
#canvas #canvas-image {
  margin: 0 0 0.5em 0;
  padding: 0;
  order: 4;
}
#canvas #canvas-image-description {
  color: #606060;
  font-size: 90%;
}
#canvas .image {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#canvas .image .picture {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#canvas .image .picture.flipped {
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#canvas .image .raster {
  /* Rastr: */
  background-image: radial-gradient(black 35%, transparent 35%), radial-gradient(black 35%, transparent 35%);
  background-color: transparent;
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  opacity: 0.15;
  top: 0;
  width: 100%;
  z-index: 100;
}
#canvas .image .border {
  border: 10px solid white;
  display: none;
  height: calc(100% - 10px);
  filter: blur(0);
  left: -4px;
  position: absolute;
  top: -4px;
  width: calc(100% - 10px);
  z-index: 101;
}
#canvas .article {
  order: 5;
}
#canvas .signature .generator {
  background: darkred;
  color: wheat;
  font-size: 80%;
  font-weight: bold;
  margin: 0;
  order: 6;
  padding: 0.5em;
  text-align: right;
}
#canvas .signature .generator .bold {
  color: white;
}
#canvas .filter {
  background: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;
}

/* ------------------------------------------------------ */
/* Základní šablony článku (web, press, retro press)      */
/* ------------------------------------------------------ */
#canvas.web {
  background: white;
  font-family: Roboto;
}
#canvas.web #canvas-title {
  color: red;
  font-family: "Roboto Bold";
  line-height: 1.1em;
  font-weight: normal;
}
#canvas.web .perex {
  font-family: "Roboto Bold";
  font-weight: normal;
}
#canvas.web #canvas-image .image .border {
  border-color: white;
}

#canvas.press,
#canvas.retro,
#canvas.vintage,
#canvas.vintage2,
#canvas.historic {
  background: white;
  font-family: serif;
}
#canvas.press #canvas-title,
#canvas.retro #canvas-title,
#canvas.vintage #canvas-title,
#canvas.vintage2 #canvas-title,
#canvas.historic #canvas-title {
  color: #202020;
  font-family: serif;
}
#canvas.press .perex,
#canvas.retro .perex,
#canvas.vintage .perex,
#canvas.vintage2 .perex,
#canvas.historic .perex {
  text-align: left;
}
#canvas.press #canvas-image .image .border,
#canvas.retro #canvas-image .image .border,
#canvas.vintage #canvas-image .image .border,
#canvas.vintage2 #canvas-image .image .border,
#canvas.historic #canvas-image .image .border {
  border-color: white;
}
#canvas.press .article p,
#canvas.retro .article p,
#canvas.vintage .article p,
#canvas.vintage2 .article p,
#canvas.historic .article p {
  margin: 0;
  text-indent: 1em;
}
#canvas.press .article p:first-child,
#canvas.retro .article p:first-child,
#canvas.vintage .article p:first-child,
#canvas.vintage2 .article p:first-child,
#canvas.historic .article p:first-child {
  margin-top: 0.5em;
  text-indent: 0;
}

#canvas.press {
  font-family: "Cardo Bold", serif;
}
#canvas.press #canvas-title {
  font-family: "Cardo Bold", serif;
  line-height: 1.25em;
}
#canvas.press .perex {
  font-family: "Cardo Bold";
  font-weight: normal;
}
#canvas.press .filter {
  background: rgba(0, 0, 0, 0.031372549);
}

#canvas.retro {
  filter: sepia(65%);
  font-family: "Cardo Bold", serif;
}
#canvas.retro #canvas-title {
  font-family: "Cardo Bold", serif;
}

#canvas.vintage {
  font-family: "Prager Headlines";
  font-size: 150%;
  filter: sepia(80%);
}
#canvas.vintage #canvas-title {
  font-family: "Prager Headlines";
  font-size: 150%;
}
#canvas.vintage .perex {
  font-family: inherit;
  font-weight: bold;
}

#canvas.vintage2 {
  font-family: "Volkszeitung 21";
  font-size: 150%;
  filter: sepia(80%);
}
#canvas.vintage2 #canvas-title {
  font-family: "Volkszeitung 21";
  font-size: 150%;
}
#canvas.vintage2 .perex {
  font-family: inherit;
  font-weight: bold;
}

#canvas.historic {
  font-family: "Fraktur";
  filter: sepia(90%);
}
#canvas.historic #canvas-title {
  font-family: "Fraktur";
  line-height: 1.5em;
}
#canvas.historic .perex {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.5em;
}
#canvas.historic .article {
  line-height: 1.4em;
}

/* ------------------------------------------------------ */
/* Šablony podle šířky obrázku (plná, poloviční)          */
/* ------------------------------------------------------ */
#canvas.halfwidth {
  display: block;
}
#canvas.halfwidth #canvas-image {
  float: left;
  margin-right: 20px;
  overflow: hidden;
  width: calc(50% - 10px);
}
#canvas.halfwidth .clear {
  clear: both;
}

/* ------------------------------------------------------ */
/* Editor                                                 */
/* ------------------------------------------------------ */
table.editor {
  width: 100%;
}
table.editor tbody::after {
  content: "";
  display: block;
  height: 0.5em;
}
table.editor h3.accordeon {
  color: red;
  cursor: pointer;
  font-size: 25px;
  margin: 0;
}
table.editor h3.accordeon i.fas {
  color: lightgray;
  margin-left: 0.5em;
}
table.editor tr {
  vertical-align: top;
}
table.editor th {
  padding: 0.3em 0.5em 0 0;
  text-align: right;
  width: 8em;
}
table.editor tr.short th {
  width: 5em;
}
table.editor tr.short input[type=text],
table.editor tr.short input[type=number],
table.editor tr.short input[type=range] {
  width: 15em;
}
table.editor textarea,
table.editor input[type=text],
table.editor input[type=file] {
  font-size: 13px;
  padding: 0.25em;
  width: 25em;
}
table.editor textarea#form-perex {
  height: 16em;
}
table.editor textarea#form-image-description {
  height: 4em;
}
table.editor textarea#form-article {
  height: 24em;
}
table.editor input#form-image-height,
table.editor input#form-header-font-size,
table.editor input#form-header-subheadline-font-size,
table.editor input#form-header-subheadline-margin-bottom {
  width: 8em;
}
table.editor input#form-header-margin-top,
table.editor input#form-header-margin-bottom,
table.editor input#form-header-margin-left,
table.editor input#form-header-margin-right {
  width: 4em;
}
table.editor button {
  width: 8em;
}
table.editor input.error {
  color: red;
  transition: 0.1s;
}

/* ------------------------------------------------------ */
/* Tlačítko pro download                                  */
/* ------------------------------------------------------ */
#btn-download,
#btn-image {
  color: lightgray;
  cursor: pointer;
  float: right;
  font-size: 40px;
  line-height: 50px;
  text-shadow: none;
  transition: 0.1s;
}
#btn-download:hover,
#btn-image:hover {
  color: #337ab7;
}

#btn-image {
  margin-right: 0.25em;
}

/* ------------------------------------------------------ */
/* Menu & zobrazované/skryté panely                       */
/* ------------------------------------------------------ */
ul#menu-main {
  color: #666;
  display: table-cell;
  font-size: 120%;
  font-weight: bold;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
  transition: 0.1s;
  vertical-align: bottom;
}
ul#menu-main li {
  display: inline;
  margin-right: 1em;
}
ul#menu-main li.menu-active {
  color: red;
}
ul#menu-main li:hover[data-menu-target] {
  color: red;
  cursor: pointer;
}

.menu-panel {
  display: none;
}
.menu-panel.menu-active {
  display: block;
}

/* ------------------------------------------------------ */
/* Tabulka entit                                          */
/* ------------------------------------------------------ */
table.entities-list {
  background: white;
  border: 1em solid white;
  border-collapse: collapse;
  font-size: 125%;
}
table.entities-list tr:nth-child(even) {
  background: rgba(238, 238, 238, 0.2666666667);
}
table.entities-list th {
  font-family: monospace;
  font-weight: normal;
  padding: 0.25em 0.25em 0.25em 1em;
  text-align: right;
}
table.entities-list th:nth-child(1), table.entities-list th:nth-child(5) {
  background: rgba(238, 238, 238, 0.2666666667);
}
table.entities-list td {
  font-size: 125%;
  font-weight: bold;
  padding: 0.25em 1em 0.25em 0.25em;
  text-align: left;
}
table.entities-list td:nth-child(2), table.entities-list td:nth-child(6) {
  background: rgba(238, 238, 238, 0.2666666667);
}

/* ------------------------------------------------------ */
/* Splash screen & image preview                          */
/* ------------------------------------------------------ */
#splash-screen,
#popup-background {
  align-items: center;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}
#splash-screen > div,
#popup-background > div {
  flex: 1;
  text-align: center;
  font-size: 1000%;
  line-height: 100%;
  text-shadow: 0 0 0.1em black;
}
#splash-screen > div > i,
#popup-background > div > i {
  -webkit-animation: splash-screen 3s infinite;
          animation: splash-screen 3s infinite;
  border-radius: 50%;
  border: 0.25em solid darkgray;
  display: inline-block;
  height: 2em;
  width: 2em;
  line-height: 2em;
}

#splash-screen {
  background: rgba(136, 136, 136, 0.9333333333);
  color: whitesmoke;
  cursor: wait;
  z-index: 10000;
}

@-webkit-keyframes splash-screen {
  0% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes splash-screen {
  0% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
#popup-background {
  background: rgba(255, 255, 255, 0.8784313725);
  cursor: not-allowed;
  z-index: 10001;
}
#popup-background img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5333333333);
  cursor: zoom-in;
  height: auto;
  width: auto;
}
#popup-background > div.zoom {
  height: 100%;
}
#popup-background > div.zoom img {
  background-image: linear-gradient(#f8f8f8 40%, #ffffff 40%);
  background-size: 5px 5px;
  background-position: center center;
  box-shadow: none;
  cursor: zoom-out;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

@-webkit-keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.eye-button {
  background: #ccc;
  border-radius: 1em;
  cursor: pointer;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  margin: 0.25em 0;
  padding: 0 1.5em 0 0;
}
.eye-button .eye {
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5333333333);
  display: inline-block;
  height: 2em;
  line-height: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 2em;
}
.eye-button:hover {
  background: #666;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5333333333);
  color: #fff;
  transition: 0.3s;
}
.eye-button:hover .eye {
  background: #222;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2666666667);
}/*# sourceMappingURL=index.css.map */