/* ------------------------------------------------------ */
/* Načtení fontů                                          */
/* ------------------------------------------------------ */

@font-face
    font-family: "Boecklins-universe"
    src: url("fonts/Boecklins Universe.ttf") format("truetype")
.font-boecklins-universe
    font-family: "Boecklins-universe"
    font-size: 100%

@font-face
    font-family: "Volkszeitung-21"
    src: url("fonts/Volkszeitung 21.ttf") format("truetype")
.font-volkszeitung-21
    font-family: "Volkszeitung-21"
    font-size: 125%

@font-face
    font-family: "Prager Headlines"
    src: url("fonts/Prager Headlines.ttf") format("truetype")
.font-prager-headlines
    font-family: "Prager Headlines"
    font-size: 125%

@font-face
    font-family: "Fraktur"
    src: url("fonts/FR_KMS_01cs.ttf") format("truetype")
.font-fraktur
    font-family: "Fraktur"

@font-face
    font-family: "Cardo Regular"
    src: url("fonts/Cardo-Regular.ttf") format("truetype")
.font-cardo-regular
    font-family: "Cardo Regular"
    font-size: 125%

@font-face
    font-family: "Cardo Bold"
    src: url("fonts/Cardo-Bold.ttf") format("truetype")
.font-cardo-bold,
.font-cardo-regular b
    font-family: "Cardo Bold"
    font-size: 125%

@font-face
    font-family: "Roboto"
    src: url("fonts/Roboto-Regular.ttf") format("truetype")
.font-roboto-regular,
.font-cardo-regular b
    font-family: "Roboto Bold"

@font-face
    font-family: "Roboto Bold"
    src: url("fonts/Roboto-Bold.ttf") format("truetype")
.font-roboto-bold
    font-family: "Roboto Bold"

@font-face
    font-family: "Roboto"
    src: url("fonts/Roboto-Regular.ttf") format("truetype")
.font-roboto-regular,
.font-cardo-regular b
    font-family: "Roboto Bold"


/* ------------------------------------------------------ */
/* Přepsání stylů z "global" šablony                      */
/* ------------------------------------------------------ */

h3
    font-family: "Roboto Bold", Arial, Helvetica, sans-serif
    font-weight: normal
    text-shadow: none



/* ------------------------------------------------------ */
/* Drobnější elementy                                     */
/* ------------------------------------------------------ */

span.ball-inverse
    background: #337ab7
    border-radius: 50%
    color: white
    display: inline-block
    font-weight: bold
    height: 1.4em
    line-height: 1.4em
    text-align: center
    width: 1.4em

/* ------------------------------------------------------ */
/* Článek                                                 */
/* ------------------------------------------------------ */

#canvas-wrapper
    padding: 5px

#canvas
    box-shadow: 0 0 5px rgba(0, 0, 0, .5)
    display: flex
    flex-direction: column
    font-family: Roboto, Arial, Helvetica, sans-serif
    font-size: 16px
    margin: 0
    overflow: hidden
    padding: 10px
    position: relative
    width: 640px

    #header
        #headline
            display: block
            font-size: 25px
            position: relative
            z-index: 10

        #subheadline
            display: block
            line-height: 1em
            &::before
                color: #666
                float: left
                font-family: "Font Awesome 5 Free"
                margin-left: 0
                margin-right: .5em
            &::after
                color: #666
                float: right
                font-family: "Font Awesome 5 Free"
                margin-left: .5em
                margin-right: 0
            &.inverse
                background: #666
                color: white
                font-weight: bold
                padding: .25em .5em
                width: calc(100% - 1em)
                &::before
                    color: white
                &::after
                    color: white

    #article
        &.thin
            padding: 0 .5em

    #canvas-title
        font-size: 36px
        font-weight: bold
        margin: 0 0 .25em 0
        order: 1
        padding: 0
        text-shadow: none

    .datetime
        color: darkgray
        margin: 0 0 .25em 0
        order: 2

    .perex
        font-size: 120%
        font-weight: bold
        margin: 0 0 .75em 0
        order: 3
        text-align: justify

        & p
            margin: 0

    #canvas-image
        margin: 0 0 .5em 0
        padding: 0
        order: 4

    #canvas-image-description
        color: #606060
        font-size: 90%

    .image
        display: inline-block
        max-width: 100%
        overflow: hidden
        position: relative
        width: 100%

        .picture
            background-size: cover
            height: 100%
            left: 0
            position: absolute
            top: 0
            width: 100%
            &.flipped
                -moz-transform: scaleX(-1)
                -o-transform: scaleX(-1)
                -webkit-transform: scaleX(-1)
                transform: scaleX(-1)
                filter: FlipH
                -ms-filter: "FlipH"

        .raster
            /* Rastr: */
            background-image: radial-gradient(black 35%, transparent 35%), radial-gradient(black 35%, transparent 35%)
            background-color: transparent
            background-position: 0 0, 5px 5px
            background-size: 10px 10px
            display: none
            height: 100%
            left: 0
            position: absolute
            opacity: 0.15
            top: 0
            width: 100%
            z-index: 100

        .border
            border: 10px solid white
            display: none
            height: calc(100% - 10px)
            filter: blur(0)
            left: -4px
            position: absolute
            top: -4px
            width: calc(100% - 10px)
            z-index: 101

    .article
        order: 5

    .signature .generator
        background: darkred
        color: wheat
        font-size: 80%
        font-weight: bold
        margin: 0
        order: 6
        padding: .5em
        text-align: right

        .bold
            color: white

    .filter
        background: transparent
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 200




/* ------------------------------------------------------ */
/* Základní šablony článku (web, press, retro press)      */
/* ------------------------------------------------------ */

#canvas.web
    background: white
    font-family: Roboto

    #canvas-title
        color: red
        font-family: "Roboto Bold"
        line-height: 1.1em
        font-weight: normal

    .perex
        font-family: "Roboto Bold"
        font-weight: normal

    #canvas-image .image .border
        border-color: white

#canvas.press,
#canvas.press-bask,
#canvas.retro,
#canvas.vintage,
#canvas.vintage2,
#canvas.historic
    background: white
    font-family: serif

    #canvas-title
        color: #202020
        font-family: serif

    .perex
        text-align: left

    #canvas-image .image .border
        border-color: white

    .article
        p
            margin: 0
            text-indent: 1em

            &:first-child
                margin-top: .5em
                text-indent: 0

#canvas.press
    font-family: "Cardo Bold", serif

    #canvas-title
        font-family: "Cardo Bold", serif
        line-height: 1.25em

    .perex
        font-family: "Cardo Bold"
        font-weight: normal

    .filter
        background: #00000008

#canvas.press-bask
    font-family: "Libre Baskerville", serif
    font-weight: 400

    #canvas-title
        font-family: "Libre Baskerville", serif
        font-weight: 700
        line-height: 1.25em

    .perex
        font-family: "Libre Baskerville"
        font-weight: 400
        font-weight: normal

    .filter
        background: #f0a02004

#canvas.retro
    filter: sepia(65%)
    font-family: "Cardo Bold", serif

    #canvas-title
        font-family: "Cardo Bold", serif


#canvas.vintage
    font-family: "Prager Headlines"
    font-size: 150%
    filter: sepia(80%)

    #canvas-title
        font-family: "Prager Headlines"
        font-size: 150%

    .perex
        font-family: inherit
        font-weight: bold

#canvas.vintage2
    font-family: "Volkszeitung 21"
    font-size: 150%
    filter: sepia(80%)

    #canvas-title
        font-family: "Volkszeitung 21"
        font-size: 150%

    .perex
        font-family: inherit
        font-weight: bold

#canvas.historic
    font-family: "Fraktur"
    filter: sepia(90%)

    #canvas-title
        font-family: "Fraktur"
        line-height: 1.5em

    .perex
        font-family: inherit
        font-weight: bold
        line-height: 1.5em

    .article
        line-height: 1.4em

/* ------------------------------------------------------ */
/* Šablony podle šířky obrázku (plná, poloviční)          */
/* ------------------------------------------------------ */

#canvas.halfwidth
    display: block

    #canvas-image
        float: left
        margin-right: 20px
        overflow: hidden
        width: calc(50% - 10px)

    .clear
        clear: both




/* ------------------------------------------------------ */
/* Editor                                                 */
/* ------------------------------------------------------ */
#form-main
    position: fixed

table.editor
    width: 100%

    tbody::after
        content: ""
        display: block
        height: .5em

    h3.accordeon
        color: red
        cursor: pointer
        font-size: 25px
        margin: 0

        i.fas
            color: lightgray
            margin-left: .5em

    tr
        vertical-align: top

    th
        padding: .3em .5em 0 0
        text-align: right
        width: 8em

    tr.short

        th
            width: 5em

        input[type="text"],
        input[type="number"],
        input[type="range"]
            width: 15em

    textarea,
    input[type="text"],
    input[type="file"]
        font-size: 13px
        padding: .25em
        width: 25em

    textarea#form-perex
        height: 16em

    textarea#form-image-description
        height: 4em

    textarea#form-article
        height: 24em

    input#form-image-height,
    input#form-header-font-size,
    input#form-header-subheadline-font-size,
    input#form-header-subheadline-margin-bottom
        width: 8em

    input#form-header-margin-top,
    input#form-header-margin-bottom,
    input#form-header-margin-left,
    input#form-header-margin-right
        width: 4em

    button
        width: 8em

    input.error
        color: red
        transition: .1s




/* ------------------------------------------------------ */
/* Tlačítko pro download                                  */
/* ------------------------------------------------------ */

#btn-download,
#btn-image
    color: lightgray
    cursor: pointer
    float: right
    font-size: 40px
    line-height: 50px
    text-shadow: none
    transition: .1s
    &:hover
        color: #337ab7

#btn-image
    margin-right: .25em



/* ------------------------------------------------------ */
/* Menu & zobrazované/skryté panely                       */
/* ------------------------------------------------------ */

ul#menu-main
    color: #666
    display: table-cell
    font-size: 120%
    font-weight: bold
    height: 50px
    list-style: none
    margin: 0
    padding: 0 0 0 10px
    transition: .1s
    vertical-align: bottom
    li
        display: inline
        margin-right: 1em
        &.menu-active
            color: red
        &:hover[data-menu-target]
            color: red
            cursor: pointer

.menu-panel
    display: none
    &.menu-active
        display: block




/* ------------------------------------------------------ */
/* Tabulka entit                                          */
/* ------------------------------------------------------ */

table.entities-list
    background: white
    border: 1em solid white
    border-collapse: collapse
    font-size: 125%
    tr:nth-child(even)
        background: #eee4
    th
        font-family: monospace
        font-weight: normal
        padding: .25em .25em .25em 1em
        text-align: right
        &:nth-child(1),
        &:nth-child(5)
            background: #eee4
    td
        font-size: 125%
        font-weight: bold
        padding: .25em 1em .25em .25em
        text-align: left
        &:nth-child(2),
        &:nth-child(6)
            background: #eee4




/* ------------------------------------------------------ */
/* Splash screen & image preview                          */
/* ------------------------------------------------------ */
#splash-screen,
#popup-background
    align-items: center
    display: none
    height: 100%
    left: 0
    position: fixed
    text-align: center
    top: 0
    width: 100%

    & > div
        flex: 1
        text-align: center
        font-size: 1000%
        line-height: 100%
        text-shadow: 0 0 .1em black

        & > i
            animation: splash-screen 3s infinite
            border-radius: 50%
            border: .25em solid darkgray
            display: inline-block
            height: 2em
            width: 2em
            line-height: 2em

#splash-screen
    background: #888e
    color: whitesmoke
    cursor: wait
    z-index: 10000

@keyframes splash-screen
    0%
        transform: rotate(0)
    85%
        transform: rotate(0)
    100%
        transform: rotate(180deg)

#popup-background
    background: #ffffffe0
    cursor: not-allowed
    z-index: 10001

    & img
        box-shadow: 0 0 10px #0008
        cursor: zoom-in
        height: auto
        width: auto

    & > div.zoom
        height: 100%

        & img
            background-image: linear-gradient(#f8f8f8 40%, #ffffff 40%)
            background-size: 5px 5px
            background-position: center center
            box-shadow: none
            cursor: zoom-out
            height: 100%
            object-fit: contain
            width: 100%

@keyframes flashing
    0%
        opacity: 1
    50%
        opacity: .5
    100%
        opacity: 1

.eye-button
    background: #ccc
    border-radius: 1em
    cursor: pointer
    display: inline-block
    height: 2em
    line-height: 2em
    margin: .25em 0
    padding: 0 1.5em 0 0
    & .eye
        background: white
        border-radius: 50%
        box-shadow: 0 0 5px #0008
        display: inline-block
        height: 2em
        line-height: 2em
        margin: 0
        padding: 0
        text-align: center
        width: 2em
    &:hover
        background: #666
        box-shadow: 0 0 5px #0008
        color: #fff
        transition: .3s
        & .eye
            background: #222
            box-shadow: 0 0 7px #0004


/* ------------------------------------------------------ */
/* Subheadline decorations                                */
/* ------------------------------------------------------ */
#subheadline
    &.hands
        &::before
            content: "\f0a4"
        &::after
            content: "\f0a5"
    &.yin-yang
        &::before
            content: "\f6ad"
        &::after
            content: "\f6ad"
    &.wine-glass
        &::before
            content: "\f5ce"
        &::after
            content: "\f5ce"
    &.venus
        &::before
            content: "\f221"
        &::after
            content: "\f221"
    &.venus-mars
        &::before
            content: "\f221"
        &::after
            content: "\f222"
    &.mars
        &::before
            content: "\f222"
        &::after
            content: "\f222"
    &.mars-venus
        &::before
            content: "\f222"
        &::after
            content: "\f221"
    &.user
        &::before
            content: "\f007"
        &::after
            content: "\f007"
    &.trophy
        &::before
            content: "\f091"
        &::after
            content: "\f091"
    &.tree
        &::before
            content: "\f1bb"
        &::after
            content: "\f1bb"
    &.theater
        &::before
            content: "\f630"
        &::after
            content: "\f630"
    &.stethoscope
        &::before
            content: "\f0f1"
        &::after
            content: "\f0f1"
    &.star
        &::before
            content: "\f005"
        &::after
            content: "\f005"
    &.spider
        &::before
            content: "\f717"
        &::after
            content: "\f717"
    &.skull
        &::before
            content: "\f54c"
        &::after
            content: "\f54c"
    &.skull-bones
        &::before
            content: "\f714"
        &::after
            content: "\f714"
    &.mask
        &::before
            content: "\f6fa"
        &::after
            content: "\f6fa"
    &.futbol
        &::before
            content: "\f1e3"
        &::after
            content: "\f1e3"
    &.fire
        &::before
            content: "\f7e4"
        &::after
            content: "\f7e4"
    &.compass
        &::before
            content: "\f14e"
        &::after
            content: "\f14e"
    &.lightbulb
        &::before
            content: "\f0eb"
        &::after
            content: "\f0eb"
    &.horsehead
        &::before
            content: "\f7ab"
        &::after
            content: "\f7ab"
    &.tabletennis
        &::before
            content: "\f45d"
        &::after
            content: "\f45d"
    &.painting
        &::before
            content: "\f53f"
        &::after
            content: "\f1fc"
    &.magnificent-glass
        &::before
            content: "\f002"
        &::after
            content: "\f002"
